@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

@font-face {
  font-family: "OS Luizi Round_FFC", sans-serif;
  src: local("OS Luizi Round_FFC"), url('../fonts/OS Luizi Round_FFC.otf') format("opentype");
}

@font-face {
  font-family: "HorevCLM-Heavy";
  src: url('../fonts/HorevCLMHeavy.otf') format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: right;
  overflow-x: clip;
/*   overflow-y: auto !important; */
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans Hebrew', serif;
  /*   background-color: #18181B; */
  /*   background: linear-gradient(180deg, #18181B -2.73%, rgba(107, 106, 171, 0.346) 50.92%, #18181B 99%);
 */
  /*   color: white; */
  color: #353535;
  background-color: #f8f7f7;

}

:root {
  font-size: 12px;
}


header {
  padding: 7vw;
}

.container {
  z-index:1041;
}

h1 {
  font-size: 2.75rem;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.35625rem;
  font-family: "HorevCLM-Heavy";
}

h2 {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.12rem;
  font-weight: 400;
  font-family: "HorevCLM-Heavy";
  margin-bottom: 0;
}

h3 {
  font-size: 2.2rem;
  font-weight: 400;
}

p {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 0;
  line-height: 156.682%;
  letter-spacing: 0.05rem;
}

iframe {
  width: 100%;
  height: 15rem;
  margin-top: -0.9rem;
}

main {
  background-color: white;
  z-index: 1;
  /*   overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: #363F52;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

a:hover {
  color: #202226;
}

.grayBackground {
  background-color: #F3F3F3;
  border-radius: 1rem;
}

.blackBackground {
  background-color: #1F1F1F;
  /*   background-color: #202226 */
}

footer p {
  font-size: 0.7rem;
  background-color: white;
}

#programsIcons {
  width: 12rem;
  border-radius: 1rem;
  margin: 0 auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#programsIcons img {
  width: 3.5rem;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .16));
}


/* .customShapeDivider {
  position: absolute;
  bottom: -46px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 2;
  padding: 0;
}

.customShapeDivider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 96px;
  } */




/* קישור */

.linkInPage span {
  letter-spacing: 0.16rem;
}

.linkInPage svg {
  transform: scaleX(-1) translateX(0.3rem);
  transition: all 0.3s ease;
}

.linkInPage:hover svg {
  transform: scaleX(-1) translateX(0.7rem);
}


.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 0.3rem;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  right: 1.7rem;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.linkInPage:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.changeFontWeigth {
  font-weight: 500;
}


/* כפתור חזרה למעלה */
#backToTop {
  color: #868686;
}

#backToTop :hover {
  color: #000000;
}



/* תמונות */
#imagesInPhone img {
  width: 10rem;
}



/* פופ-אפ */
.modal-header {
  padding: 0;
  border-bottom: unset;
}

.modal-dialog {
  max-width: 600px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.modal.fade .modal-dialog {
  transform: scale(0);
}

.modal.show .modal-dialog {
  transform: scale(1);
}

.closeBtn {
  z-index: 1;
  background: none;
  border: none;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .16));
  left: 0;
  right: 0;
  width: 32%;
  margin: 0 auto;
  /*   margin-bottom: 13% */
}

.closeBtn img {
  width: 22%;
}


/* קרוסלה */
.carousel-control-prev {
  left: -17%;
  margin-left: 0.7rem;
}

.carousel-control-next {
  right: -17%;
  margin-right: 0.7rem;
}

.carousel-control-prev-icon {
  background-image: url(../Images/prevBtn.svg);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .16));
}

.carousel-control-next-icon {
  background-image: url(../Images/nextBtn.svg);
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .16));
}

.carousel-dark {
  filter: none;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover,
.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}

/* עיצוב גלילה */

/* .reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: ease-in-out;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
 */



/* תפריט ניווט */
.navbar {
  padding: 0rem;
  font-size: 0.8rem;
}

.navbar-brand {
  display: none;
}

.navbar-light,
.nav-link,
.nav-link.active,
.nav-link:focus,
.nav-link:hover {
  color: #363F52;
  /*   color: white; */
}

.navbar-light .navbar-brand {
  font-size: 0.8rem;
  font-weight: 600;
  gap: 0.3rem;
  align-items: center;
  margin-right: 0;
}

.nav-link.active {
  font-weight: 600;
}


/* תפריט גלילה - מצב מעבר עכבר */
.navLinks a {
  position: relative;
  padding: 4px 0;
}

.navLinks a::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
  background: #AE9EF7;
}

.navLinks a:hover::before {
  transform: scale3d(1, 1, 1);
  transform-origin: 100% 50%;
}





/* תפריט המבורגר */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}


.nav-menu {
  position: fixed;
  right: -100%;
  flex-direction: column;
  background-color: #1F1F1F;
  width: 100%;
  border-radius: 10px;
  padding-right: 2rem;
  font-size: 1.8rem;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.199);
  z-index: 1;
  gap: 2rem;
  text-align: center;
  height: 100%;
  padding-top: 4rem;
}

.nav-menu.active {
  right: 0;
}

.nav-item {
  padding-top: 4rem;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 2;
}


.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}



/* -------------------------------------- */
/* -------------- עמוד הבית ------------- */
/* -------------------------------------- */

#homePageHeader {
  overflow: hidden;
  /*   min-height: 56vh; */
}

#aboutMe h1 {
  font-weight: 300;
  letter-spacing: 0.12rem;
  font-family: 'Open Sans Hebrew', serif;
}

#aboutMe .row {
  --bs-gutter-x: unset;
}

#myName {
  font-family: 'Open Sans Hebrew', serif;
  letter-spacing: unset;
  color: #353535;
  font-weight: 300;
}

#myName span {
  color: #A9A1E3;
}

#myNameLine {
  width: 15rem;
  margin-top: -2.8rem;
  margin-right: 2rem;
}

#aboutMeDescription {
  width: 20rem;
  margin: 0 auto;
}

#aboutMeDescription p {
  font-size: 1.8rem;
}

#violaIllustrationCircleDiv {
  display: block;
}

#violaIllustrationDiv {
  display: none;
}

.violaIllustration {
  width: 51%;
  display: block;
  margin: auto;
  z-index: 1;
}


/* כפתורים */
/* .primaryBtn {
  position: relative;
  overflow: hidden;
  height: 4rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  border-radius: 10rem;
  font-size: 1.4rem;

  line-height: 0.3rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.primaryBtn:hover::before {
  transform: scaleX(1);
}

.primaryBtnContent {
  position: relative;
  z-index: 1;
}

.primaryBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: center right;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
  transition: all 0.475s;
}


a .primaryBtnContent:hover,
.primaryBtn:hover {
  color: white;
} */


/* button.primaryBtn {
  padding: 0.5rem;
  height: 3rem;
  border: 1px solid #333334;
  border-radius: 100px;
  color: #333334;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  font-size: 1rem;
}

button.primaryBtn:hover {
  background-color: #333334;
  color: white;
}

button.primaryBtn:active {
  background-color: #0c0c0c;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  color: white;
} */




button.primaryBtn {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: #333334;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 1px solid #333334;
  border-radius: 5rem;
  box-shadow: inset 0 0 0 0 #333334;
}

button.primaryBtn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #333334;
}

button.primaryBtn:active {
  transform: scale(0.9);
}





/* אנימציה חץ */
#arrowHomePage {
  width: 2.5rem;
  display: block;
  cursor: pointer;
  margin-top: 30%;
  animation: upAndDown 1.5s infinite alternate ease-in-out;
  margin: 0 auto;
}

@keyframes upAndDown {
  from {
    transform: translateY(0.8rem);
  }

  to {
    transform: translateY(0.4rem);
  }
}


#myPortfolio {
  z-index: 1;
  position: relative;
}

#myPortfolio h2,
#moreWorks h2,
#contact h2 {
  font-size: 7rem;
  font-style: normal;
}




/* התוצרים שלי */


/* .myPortfolioTitle {
  position: relative;
  width: 100vw;
  height: 8rem;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
  mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
}

.myPortfolioTitleScroll {
  width: inherit;
  height: inherit;
  position: absolute;
  overflow: hidden;
  left: 0%;
  top: 0%;
  animation: primary 25s linear infinite;
  white-space: nowrap;
  text-shadow:
    var(--width) 0 currentColor,
    calc(var(--width) * 2) 0 currentColor,
    calc(var(--width) * 3) 0 currentColor,
    calc(var(--width) * 4) 0 currentColor;
} 

.primary {
  animation: primary 25s linear infinite;
}

.secondary {
  animation: secondary 25s linear infinite;
}


@keyframes primary {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}
*/

/* #myPortfolio h2,
#moreWorks h2 {
  font-size: 3rem;
  /*   font-family: Open Sans Hebrew; 
  font-weight: 700;
}
 */


#myPortfolio p {
  color: white;
}

.selectedWorks {
  font-weight: 400;
  color: #BBB;
}

#myPortfolio .whiteText p:first-child {
  font-weight: 500;
}

#myPortfolio h3 {
  color: #FFF;
  font-family: 'Open Sans Hebrew', serif;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.285rem;
  padding-top: 1.6rem;
}

#myPortfolio .col-5 {
  width: 49%;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.5rem;
}


#myPortfolioTwoChinesse,
#myPortfolioSafraland,
#myPortfolioToTheSweetKid,
#myPortfolioDealForYou,
#myPortfolioTheLightRail,
#myPortfolioMiniMoocStorytelling {
  overflow: hidden;
  height: 20rem;
  /* border-radius: 1.25rem;*/
  /*  background-color: #f0f0f8; */
  background-color: #3b3b3f;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;

  -webkit-transition: background .3s ease-out;
  -moz-transition: background .3s ease-out;
  -o-transition: background .3s ease-out;
  transition: background .3s ease-out;
}




#myPortfolioTwoChinesse {
  background-image: url(../Images/TwoChinesse/twoChinesseHomePage.png);
  background-size: 30rem;
}

#myPortfolioTwoChinesse:hover {
  background-color: #67735B;
  /*   box-shadow: 0 0 20px #7b8a6c; */
  background-size: 33rem;
}

#myPortfolioTwoChinesse:active {
  background-color: #556346;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  background-size: 41rem;
}




#myPortfolioSafraland {
  background-image: url(../Images/Safraland/safraland.png);
  background-size: 36rem;
  background-position: top;
}

#myPortfolioSafraland:hover {
  background-color: #3485B4;
  /* box-shadow: 0 0 20px #409acd; */
  background-size: 40rem;
}

#myPortfolioTwoChinesse:active {
  background-color: #2b739d;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  background-size: 36rem;
}



#myPortfolioToTheSweetKid {
  background-image: url(../Images/ToTheSweetKid/ToTheSweetKidHomePage.png);
  background-size: 30rem;
}

#myPortfolioToTheSweetKid:hover {
  background-color: #9B5AA5;
  /*   box-shadow: 0 0 20px #b473bd; */
  background-size: 33rem;
  /*   -webkit-mask-image: linear-gradient(to top, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
  mask-image: linear-gradient(to top, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
 */
}

#myPortfolioToTheSweetKid:active {
  background-color: #874c90;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  background-size: 41rem;
}




#myPortfolioTheLightRail {
  background-image: url(../Images/TheLightRailApp/theLightRailHomePage.png);
  background-size: 35rem;
}

#myPortfolioTheLightRail:hover {
  background-color: #3B3847;
  /*   box-shadow: 0 0 20px #524f5b; */
  background-size: 38rem;
}

#myPortfolioTheLightRail:active {
  background-color: #1d1830;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  background-size: 50rem;
}




#myPortfolioMiniMoocStorytelling {
  background-image: url(../Images/MiniMoocStorytelling/miniMoocStorytellingHomePage.png);
  background-size: 38rem;
  background-position: top;
}

#myPortfolioMiniMoocStorytelling:hover {
  background-color: #71949b;
  /* box-shadow: 0 0 20px #63868d; */
  background-size: 41rem;
}

#myPortfolioMiniMoocStorytelling:active {
  background-color: #455e64;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  background-size: 38rem;
}



#myPortfolioDealForYou {
  background-image: url(../Images/DealForYou/dealForYouHomePage.png);
  background-size: 38rem;

}

#myPortfolioDealForYou:hover {
  background-color: #BE4615;
  /*   box-shadow: 0 0 20px #d25727; */
  background-size: 41rem;
}

#myPortfolioDealForYou:active {
  background-color: #a23b12;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  background-size: 38rem;
}




@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}





/* תוצרים נוספים */

#moreWorks {
  border-radius: 0 0 1rem 1rem;
  /*   background-color: #f8f7f7; */
  position: relative;
  z-index: 2;
}


.moreWorksPagesTitles h2 {
  font-family: 'Open Sans Hebrew', serif;
  /*   font-family: 'Open Sans', sans-serif; */
  color: white;
  font-size: 1.5rem;
}

.moreWorksIcon {
  width: 4.5rem;
  margin: 0 auto;
}

#moreWorks span {
  font-size: 1.7rem;
  font-weight: 300;
  color: white;
}

.moreWorksLineDiv {
  width: 80%;
  margin: 0 auto;
}

.circleArrow {
  width: 3rem;
  margin: 0 auto;
  fill: #272727;
}

.circleArrow circle:hover {
  /*  fill: #713693; */
  transform-origin: 50% 50% 0px;
  transition: ease-out 0.3s;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.circleArrow:hover {
  transform: rotate(-45deg);
  transition: ease-out 0.3s;
}


/* יצירת קשר */

#contact {
  z-index: 0;
  height: 40vh;
}

.contactIcons {
  width: 15rem;
}

.contactIcons p {
  color: #EBD1FF;
}

.contactIcons img {
  width: 1.4rem;
}

.darkGrayBackground {
  background-color: #282828;
  border-radius: 4rem;
}

.darkGrayBackground div:first-child {
  background-color: #464242;
  border-radius: 50%;
}

.titleDividerH1 {
  width: 2.7rem;
  border: 1px solid #3d3a4e;
  margin: 0 auto;
}

.titleDivider {
  width: 1.7rem;
  border: 0.7px solid #3d3a4e;
  margin: 0 auto;
}

.pages h1 {
  font-weight: 300;
  font-size: 15vw;
  letter-spacing: 0rem;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.70);
  margin-bottom: 0;
}

.prototypeAppLInk .hover-underline-animation:after {
  right: 0rem;
}


.shadowImages img {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.187);
  cursor: zoom-in;
}

.noOpacity {
  opacity: 0;
}


/* ----------------- */

.stickyBackground {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* 
.imgHeaderPages{
  background-color: #eaeaef;
  border-radius: 2rem;
}
 */

/* ------------- אנימציות ------------ */

[data-aos="opacity"] {
  opacity: 0;
  transition-property: opacity;
}

[data-aos="opacity"].aos-animate {
  opacity: 1;
}

h1 span {
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes reveal {
  0% {
    display: none;
    opacity: 0;
    transform: translate(0, 100%);
  }

  100% {
    display: block;
    opacity: 1;
    transform: translate(0, 0);
  }
}


.leftImgEntry {
  /*   will-change: transform;*/
  transform: translateX(-4rem);
  transition: transform 0.5s ease;
  overflow: hidden;
}

/* ----------------------------------------- */
/* -------------- עמוד סרטונים ------------- */
/* ----------------------------------------- */

#videosBanner {
  background-image: url('../Images/Videos/videosBanner.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem;
}

#safralandVideos {
  display: block;
}

#safralandVideos p {
  font-size: 0.9rem;
}

#h2Link {
  font-size: 1.5rem;
}

#videoDontComfortable svg {
  width: 30%;
  z-index: -1;
}


/* -------------------------------------------- */
/* -------------- עמוד הרכבת הקלה ------------- */
/* -------------------------------------------- */



#colorPallate p {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  direction: ltr;
}

#messegesImgesRailApp img {
  width: 13rem;
}


#theLightRailAppPage {
  background-color: #3B3847;
  color: white;
  overflow: hidden;
  height: 28rem;
}


#theLightRailAppPage img {
  transform: translate(-6rem, -1rem);
}


/* ---------------------------------------------- */
/* -------------- עמוד deal for you ------------- */
/* ---------------------------------------------- */









/* ----------------------------------------------- */
/* -------------- עמוד לילד המתוק! -------------- */
/* ---------------------------------------------- */







/* -------------------------------------------------- */
/* -------------- עמוד איורים דיגטליים -------------- */
/* -------------------------------------------------- */

.galleryWarp {
  /*   box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  position: relative;
  height: 100%;
}

.galleryWarp img {
  transition: 0.3s;
  position: relative;
  z-index: 1;
  cursor: zoom-in;
  object-fit: cover;
  object-position: 50% 0;
  height: 100%;
}


.galleryWarp img:hover {
  transform: scale(1.1);
}

.gallery {
  padding: 0rem;
  position: relative;
  overflow: hidden;
  animation-name: anim-fade-scale-up;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  /*   transition-delay: 1s; */
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
}




@keyframes anim-fade-scale-up {

  from,
  to {
    animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    transform-origin: center center
  }

  from {
    opacity: 0;
    transform: matrix(.92, 0, 0, .92, 0, 0)
  }

  to {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0)
  }
}





/* ----------------------------------------- */
/* -------------- עמוד איורים -------------- */
/* ---------------------------------------- */

#drawings .gallery {
  transform: unset;
  cursor: zoom-in;
}

#drawings .gallery img {
  object-fit: cover;
  object-position: 50% 0;
  height: 100%;
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
}

#drawings .gallery .textOnImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 1;
  opacity: 0;
  transition: all 0.8s ease;
  margin: 0;
  text-align: center;
  color: white;
}

.overlayOnImg {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  /*   top: 0;
  bottom: 0; */
  right: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#drawings .gallery:hover .overlayOnImg {
  opacity: 0.7;
  z-index: 1;
  transform: unset;
}

#drawings .gallery:hover .textOnImg {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}






/* ---------------------------------------------------- */
/* -------------- עמוד מינימוק סטוריטלינג ------------- */
/* ---------------------------------------------------- */

.macbook {
  margin: 0 auto;
  max-width: 30rem;
}

#miniMoocStorytelling video {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}


.screen {
  background: #000;
  border-radius: 3% 3% 0.5% 0.5% / 5%;
  margin: 0 auto;
  /* for aspect ratio */
  position: relative;
  width: 80%;
}

.screen:before {
  border: 2px solid #cacacc;
  border-radius: 3% 3% 0.5% 0.5% / 5%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8) inset, 0 0 1px 2px rgba(255, 255, 255, 0.3) inset;
  content: "";
  display: block;
  /* for aspect ratio ~67:100 */
  padding-top: 55%;
}

.screen:after {
  content: "";
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 0.75%;
  left: 0.5%;
  padding-top: 1%;
  width: 99%;
}

.viewport {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 4.3% 3.2%;
  background: #333;
}


.base {
  /* for aspect ratio */
  position: relative;
  width: 100%;
}

.base:before {
  content: "";
  display: block;
  /* for aspect ratio ~33:1000*/
  padding-top: 3.3%;
  /* stylin */
  background: linear-gradient(#eaeced, #edeef0 55%, #fff 55%, #8a8b8f 56%, #999ba0 61%, #4B4B4F 84%, #262627 89%, rgba(0, 0, 0, .01) 98%);
  border-radius: 0 0 10% 10%/ 0 0 50% 50%;
}

.base::after {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.8) 0.5%, rgba(0, 0, 0, 0.4) 3.3%, transparent 15%, rgba(255, 255, 255, 0.8) 50%, transparent 85%, rgba(0, 0, 0, 0.4) 96.7%, rgba(255, 255, 255, 0.8) 99.5%, rgba(0, 0, 0, 0.5) 100%);
  content: "";
  height: 53%;
  position: absolute;
  top: 0;
  width: 100%;
}

.notch {
  background: #ddd;
  border-radius: 0 0 7% 7% / 0 0 95% 95%;
  box-shadow: -5px -1px 3px rgba(0, 0, 0, 0.2) inset, 5px -1px 3px rgba(0, 0, 0, 0.2) inset;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.5%;
  z-index: 2;
  /* for aspect ratio */
  position: relative;
  width: 14%;
}

.notch:before {
  content: "";
  display: block;
  /* for aspect ratio ~1:10 */
  padding-top: 10%;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}



/* --------------------------------------------- */
/* -------------- עמוד שניים סינים ------------- */
/* --------------------------------------------- */


#finalResultTwoChinesseMockup div div:nth-child(1) img {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


/* #logoBackground{
  background-image: url("../Images/TwoChinesse/logoTwoChinese.svg");
  background-repeat: no-repeat;
  background-size: 29rem;
  background-position: center;
  height: 45vh;
	background-attachment: fixed;
} */

/* ----------------------------------------- */
/* -------------- עמוד ספארלנד ------------- */
/* ----------------------------------------- */



#safralandCharacters img {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, .16))
}

.QrCodeSafraland {
  width: 34%;
  filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, .16))
}

#qrCodeMobile {
  display: block;
}

#qrCodeDesktop {
  display: none;
}

#imagesInPhoneSafraland img {
  width: 8rem;
}

#imagesInPhoneSafraland div:nth-child(2) img {
  transform: translateY(15%);
}


@media only screen and (min-width: 768px) {
  :root {
    font-size: 24px;
  }

  h1 {
    font-size: 2.5rem;
    /*     font-family: OS Luizi Round_FFC; */
  }

  /*  h2 {
    font-size: 1.3rem;
  } */

  p {
    font-size: 1.1rem;
  }

  .navbar-brand {
    display: flex;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: unset;
    flex-direction: unset;
    background-color: unset;
    width: unset;
    border-radius: unset;
    transition: none;
    box-shadow: none;
    font-size: unset;
    padding: 0;
    margin: 0;
  }

  .hamburger {
    display: none;
  }

  .nav-item {
    padding-top: unset;
  }

  /*   #homePageHeader {
    min-height: 90vh;
  } */

  #aboutMe h1,
  #myName {
    font-size: 1.6rem;
  }


  #arrowHomePage {
    width: 1.5rem;
  }

  #myName {
    white-space: nowrap;
    font-size: 1.6rem;
    /*     font-size: 4rem; */
  }

  #myName span {
    font-size: 2rem;
  }

  /* #myNameLine {
    width: 9.5rem;
  } */


  /*  #aboutMeDescription {
    transform: translateX(-6.7rem);
  } */

  #aboutMeDescription p {
    font-size: 0.9rem;
  }

  button {
    font-size: unset;
  }

  /* .primaryBtn {
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    height: 2rem;
  } */


  /*  .customShapeDivider svg {
    height: 100px;
  }
 */

  /*   #myPortfolio h2,
  #moreWorks h2 {
    font-size: 4rem;
  } */


  #programsIcons {
    width: 8rem;
  }

  #programsIcons img {
    width: 2.2rem;
  }

  /*  #theLightRailAppPage,
  #toTheSweetKidPage {
    height: 15rem;
  } */

  #theLightRailAppPage img {
    width: 38rem;
    transform: translate(8rem, -8rem);
  }


  #persona1 {
    transform: rotate(-6.27deg);
  }

  #persona3 {
    transform: rotate(8.521deg);
  }

  #colorPallate p {
    font-size: 0.7rem;
  }

  #colorPallate div {
    padding: 0;
  }

  /*  #storytellingGoal p {
    text-align: justify
  } */

  #finalResultTwoChinesseMockup div div:nth-child(1) img {
    transform: translateX(-50%);
    padding-left: unset;
    padding-right: unset;
    width: 70%;
  }


  #finalResultTwoChinesseMockup div div:nth-child(2) img {
    transform: translate(3rem, 4rem);
    width: 93%;
    padding-bottom: 2.5rem;
  }


  #qrCodeMobile {
    display: none;
  }

  #qrCodeDesktop {
    display: block;
  }
}






@media only screen and (min-width: 1024px) {

  .modal-dialog {
    margin: 0 auto;
  }

  #violaIllustrationCircleDiv {
    display: none;
  }

  #violaIllustrationDiv {
    display: block;
  }

  .violaIllustration {
    width: 130%;
    margin: 0;
    transform: translate(3.3rem, 2.4rem);
  }

  #homePageHeaderRightSide {
    transform: translate(-6vw, -1vw);
  }

  #aboutMe h1,
  #myName {
    font-size: 2rem;
  }

  /*  #myName {
    font-size: 5rem;
  } */

  #myName span {
    font-size: 3.5rem;
  }

  #aboutMeDescription {
    /*     transform: translateX(-12rem); */
    width: 25rem;
  }


  #aboutMeDescription p {
    font-size: 1.2rem;
  }

  .primaryBtn {
    font-size: 1.2rem;
  }



  #theLightRailApp p {
    width: 32rem;
    margin: 0 auto;
  }

  #miniMoocStorytellingIcons img {
    width: 12vw;
  }

}




@media only screen and (min-width: 1440px) {

  #aboutMe h1,
  #myName {
    font-size: 3rem;
  }

  /*   #myName {
    font-size: 7rem;
  } */

  #myName span {
    font-size: 4.5rem;
  }

  .violaIllustration {
    width: 100%;
    transform: translate(-1.7rem, 2.4rem);
  }

  #myPortfolioTwoChinesse,
  #myPortfolioSafraland,
  #myPortfolioToTheSweetKid,
  #myPortfolioDealForYou,
  #myPortfolioTheLightRail,
  #myPortfolioMiniMoocStorytelling {
    height: 30rem;
  }

  #myName span {
    font-size: 3.5rem;
  }

  #aboutMeDescription p {
    font-size: 1.48rem;
  }

  #aboutMeDescription {
    width: 30rem;
  }
}